@using SolveChicago.Common;
@model SolveChicago.Common.Models.ContactModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
}
<section id="Home" class="container-fluid tier-dark">
    <h1 class="sectionHeader text-center absolute-center">
        Our software creates smart cities in
        <span class="tag">Underserved Communities</span>
        by measuring job training &amp; placement
    </h1>
    <a class="advance bottom-center text-center internalLink" href="#How">
        Learn How<br><img width="30" src="/img/landing/Down_Arrow@2x.png">
    </a>
</section>
<section id="How" class="container">
    <ul class="text-right">
        <li onclick="" class="col-lg-4 col-sm-6">
            <span class="steps-headline">We partner with workforce nonprofits</span>
            <span class="row steps-hover"><span class="steps-hover_desc absolute-center">We create a network of collaborative nonprofits with one goal - helping place jobs</span></span>
        </li>
        <li onclick="" class="col-lg-4 col-sm-6">
            <span class="steps-headline">We provide new client referrals to partner nonprofits</span>
            <span class="row steps-hover"><span class="steps-hover_desc absolute-center">We work with property managers and Government to help residents in distressed communities gain access to opportunities</span></span>
        </li>
        <li onclick="" class="col-lg-4 col-sm-6">
            <span class="steps-headline">Nonprofits stay organized using our software for free</span>
            <span class="row steps-hover"><span class="steps-hover_desc absolute-center">Nonprofits track their clients using our unified community member profiles</span></span>
        </li>
        <li onclick="" class="col-lg-4 col-sm-6">
            <span class="steps-headline">The nonprofits’ client(s) develop soft and workforce skills through proven programs</span>
            <span class="row steps-hover"><span class="steps-hover_desc absolute-center">And the clients graduate their program</span></span>
        </li>
        <li onclick="" class="col-lg-8 col-sm-12">
            <span class="steps-headline">Nonprofits place their clients into attainable jobs</span>
            <span class="row steps-hover"><span class="steps-hover_desc absolute-center">Our nonprofits have proven models that help their clients land incredible jobs</span></span>
        </li>
        <li onclick="" class="col-lg-4 col-sm-6">
            <span class="steps-headline">We measure nonprofit cost savings for the Government</span>
            <span class="row steps-hover"><span class="steps-hover_desc absolute-center">We measure welfare, housing, medicaid, and other cost savings created</span></span>
        </li>
        <li onclick="" class="col-lg-4 col-sm-6">
            <span class="steps-headline">Solve’s software creates a new revenue stream for nonprofits</span>
            <span class="row steps-hover"><span class="steps-hover_desc absolute-center">Nonprofits have a new source of revenue to scale their work. The Government has an exponential return on investment, paying only for cost saving job placement</span></span>
        </li>
    </ul>
</section>
<section id="Partners" class="container">
    <h1 class="sectionHeader">
        Our Community <span class="tag">Partners</span>
    </h1>
    <div class="clearfix">
        <div class="col-sm-4"><a href="https://reworktraining.org/" target="_blank"><img src="/img/landing/ReWork_logo@2x.png" class="partner-logo img-responsive" alt=""></a></div>
        <div class="col-sm-4"><a href="http://www.thecaraprogram.org/" target="_blank"><img src="/img/landing/Cara_logo@2x.png" class="partner-logo img-responsive" alt=""></a></div>
        <div class="col-sm-4"><a href="http://www.theidealcandidate.org/" target="_blank"><img src="/img/landing/ideal@2x.png" class="partner-logo img-responsive" alt=""></a></div>
    </div>
    <div class="clearfix">
        <div class="col-sm-4 col-md-offset-2 col-sm-offset-1"><a href="http://www.thecla.org/" target="_blank"><img src="/img/landing/CLA_logo@2x.png" class="partner-logo img-responsive" alt=""></a></div>
        <div class="col-sm-4 col-sm-offset-2 col-md-offset-0"><a href="http://www.icstars.org/" target="_blank"><img src="/img/landing/ICStars@2x.png" class="partner-logo img-responsive" alt=""></a></div>
    </div>
</section>
<section id="LetsTalk" class="container">
    <div class="row">
        <h1 class="sectionHeader">Reach Out <span class="tag">To Us</span></h1>
        <div id="contact-info" class="col-md-3">
            <h3>Let us know new ways to get our community involved</h3>
            <p>
                <span class="email"><a href="mailto:info@solvesmartcities.com"><img src="/img/landing/Email_icon@2x.png">info@solvesmartcities.com</a></span>
                <span class="phone"><img src="/img/landing/Phone_icon@2x.png">312.310.7400</span>
            </p>
            <div class="social-wrapper hidden-sm hidden-xs">
                <p><small>Stay Connected</small></p>
                <ul id="social" class="list-inline">
                    <li><a href="https://www.facebook.com/solvechicago/" target="_blank"><img height="45" src="/img/landing/Facebook@2x.png"></a></li>
                    <li><a href="https://www.linkedin.com/company/solve-chicago" target="_blank"><img height="45" src="/img/landing/LinkedIn@2x.png"></a></li>
                    <li><a href="https://twitter.com/SolveChicago" target="_blank"><img height="45" src="/img/landing/Twitter@2x.png"></a></li>
                    <li><a href="https://www.instagram.com/solvechicago/" target="_blank"><img height="45" src="/img/landing/Instagram@2x.png"></a></li>
                </ul>
            </div>
        </div>
        <div id="contact-form" class="col-md-9">
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone (optional)", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address", @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Subject", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Body, new { @placeholder = "Message", @class = "form-control" })
                </div>
                <div class="col-md-12 text-center">
                    <button class="cta">Submit</button>
                </div>
            }
        </div>
        <div class="social-wrapper col-md-3 text-center hidden-md hidden-lg">
            <p><small>Stay Connected</small></p>
            <ul id="social" class="list-inline">
                <li><a href="https://www.facebook.com/solvechicago/" target="_blank"><img height="45" src="/img/landing/Facebook@2x.png"></a></li>
                <li><a href="https://www.linkedin.com/company/solve-chicago" target="_blank"><img height="45" src="/img/landing/LinkedIn@2x.png"></a></li>
                <li><a href="https://twitter.com/SolveChicago" target="_blank"><img height="45" src="/img/landing/Twitter@2x.png"></a></li>
                <li><a href="https://www.instagram.com/solvechicago/" target="_blank"><img height="45" src="/img/landing/Instagram@2x.png"></a></li>
            </ul>
        </div>
    </div>
</section>