@model IEnumerable<SolveChicago.Entities.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>
    @foreach (var member in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => member.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = member.Id }) |
                @Html.ActionLink("Details", "Details", new { id = member.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = member.Id })
            </td>
        </tr>
    }
</table>

