@using Microsoft.AspNet.Identity;
@model IEnumerable<SolveChicago.Common.Models.Profile.Member.FamilyEntity>
@{ 
    string memberTransformedName = (ViewBag.NonprofitId != null ? "Client" : "Member");
}

<header class="members-header">
    <h2><strong>@(memberTransformedName)s:</strong> OVERVIEW</h2>
    <span style="text-align:right"><a href="/Nonprofits/AddMember?nonprofitId=@ViewBag.NonprofitId">Add @memberTransformedName</a></span>

    @*<div class="small-12 medium-12 large-3">
            <input class="search-members" type="text" name="search" placeholder="Search..">
        </div>*@
</header>
@if (Model.Count() > 0)
{
    <div class="member-card member-card-header">
        <div class="member-overview">
            <div class="row large-unstack">
                <span class="member-card-thumb"></span>
                <div class="columns has-space">
                    <strong>Name</strong>
                </div>
                <div class="columns has-space">
                    <strong>Address</strong>
                </div>
                <div class="columns has-space">
                    <strong>Occupation</strong>
                </div>
                <div class="columns has-space">
                    <strong>Stage</strong>
                </div>
                <div class="columns has-space">

                </div>
            </div>
        </div>
    </div>
    foreach (var item in Model)
    {
        <section class="member-card">
            <div class="member-overview">
                <div class="row large-unstack">
                    <span class="member-card-thumb"><img src="@(item.HeadOfHouseholdProfilePicturePath)" /></span>
                    <div class="columns centered has-space">
                        <span class="member-name">@(item.FamilyName)</span>
                    </div>
                    <div class="columns has-space">
                        <span>@(item.Address)</span>
                    </div>
                    <div class="columns has-space">
                        <span></span>
                    </div>
                    <div class="columns">
                        <div class="progress-bar-spacer progress @(item.AverageScore == 100 ? "dark-green" : "purple")" role="progressbar" tabindex="0" aria-valuenow="@item.AverageScore" aria-valuemin="0" aria-valuetext="@(item.AverageScore) percent" aria-valuemax="100">
                            <!-- value added by tweaking inline-style-->
                            <div class="progress-meter" style="width: @(item.AverageScore)%">
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <a href="javascript:void(0)" class="show-family button">View</a>
                    </div>
                </div>
            </div>
            <div class="familyMemberWrapper" style="display:none;">
                @foreach (var member in item.FamilyMembers)
                {
                    <div class="member-details">
                        <div class="row large-unstack">
                            <span class="member-detail-thumb"><img src="@(member.ProfilePicturePath)" /></span>
                            <div class="columns has-small-space">
                                <span>@member.Name @(!string.IsNullOrEmpty(member.Relation) ? $"({member.Relation})" : "")</span>
                            </div>
                            <div class="columns has-small-space">
                                <span></span>
                            </div>
                            <div class="columns has-small-space">
                                <span>@(member.CurrentOccupation)</span>
                            </div>
                            <div class="columns">
                                <div class="small-progress-bar-spacer progress @(item.AverageScore == 100 ? "green" : "lilac")" role="progressbar" tabindex="0" aria-valuenow="@(member.MemberStage.Percent)" aria-valuemin="0" aria-valuetext="@(member.MemberStage.Percent) percent" aria-valuemax="100">
                                    <!-- value added by tweaking inline-style-->
                                    <div class="progress-meter" style="width: @(member.MemberStage.Percent)%">

                                    </div>
                                    <p class="small-progress-description">@(member.MemberStage.Stage)</p>
                                </div>
                            </div>
                            <div class="columns">
                                @if (member.IsEditable && (User.IsInRole("Admin") || User.IsInRole("CaseManager") || User.IsInRole("Nonprofit")))
                                {
                                    <a href="javascript:void(0)" class="show-member-action-menu">...</a>
                                    <div class="member-details-menu-wrapper hide">
                                        <span class="arrow-right"></span>
                                        <ul class="member-details-menu">
                                            <li>
                                                <a href="/Members/Details?memberId=@(member.Id)">
                                                    View Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Members/MemberOverview?memberId=@(member.Id)">
                                                    Edit Profile
                                                </a>
                                            </li>
                                            @if (User.IsInRole("CaseManager") || User.IsInRole("Nonprofit"))
                                            {
                                                <li>
                                                    <a href="/CaseManagers/AddCaseNote?memberId=@(member.Id)&caseManagerId=@(User.Identity.GetUserId())&nonprofitId=@(ViewBag.NonprofitId)">
                                                        Add Note
                                                    </a>
                                                </li>
                                            }
                                            @if (User.IsInRole("Nonprofit") && ViewBag.Nonprofit != null && ViewBag.Nonprofit.CaseManagers.Count > 0)
                                            {
                                                <li>
                                                    <a href="/Nonprofits/AssignCaseManager?memberId=@(member.Id)&nonprofitId=@(ViewBag.NonprofitId)">
                                                        Assign Case Manager
                                                    </a>
                                                </li>
                                            }
                                            @if (ViewBag.NonprofitId != null)
                                            {
                                                <li>
                                                    <a href="/Nonprofits/JobPlaced?memberId=@(member.Id)&nonprofitId=@(ViewBag.NonprofitId)">Job Placed</a>
                                                </li>
                                                <li>
                                                    <a href="/Nonprofits/NonprofitReferral?memberId=@(member.Id)&nonprofitId=@(ViewBag.NonprofitId)">Refer to Service Provider</a>
                                                </li>
                                            }

                                            @*<li>
                                                    <a href="#">
                                                        <img class="sub-menu-icon" src="../assets/img/icon-delete.svg">
                                                        Delete
                                                    </a>
                                                </li>*@
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }

}
else
{
    <p>No @(memberTransformedName)s.</p>
}
