@model SolveChicago.Entities.CaseNote

@{
    ViewBag.Title = "AddCaseNote";
}

<header>
    <h4><strong>ADD:</strong> Case note</h4>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row app-dashboard-form-container">
        <div class="create-profile-form-holder">
            <p>For: @string.Format("{0} {1}", Model.Member.FirstName, Model.Member.LastName)</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.CaseManagerId)
            @Html.HiddenFor(m => m.MemberId)

            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            <input class="submit-create-profile" type="submit" value="Submit">
        </div>
    </div>
}
