@model IEnumerable<SolveChicago.Common.Models.Profile.Member.FamilyEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    foreach (var member in item.FamilyMembers.Where(x => x.IsHeadOfHousehold == true))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => member.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = member.Id }) |
                @Html.ActionLink("Details", "Details", new { id = member.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = member.Id })
            </td>
        </tr>
    }
    foreach(var member in item.FamilyMembers.Where(x => x.IsHeadOfHousehold == false))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => member.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = member.Id }) |
                @Html.ActionLink("Details", "Details", new { id = member.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = member.Id })
            </td>
        </tr>
    }

}

</table>
