@using SolveChicago.Entities
@model SolveChicago.Web.Models.Profile.MemberProfileGovernmentProgramViewModel

@{
    ViewBag.Title = "Government Programs";
    Layout = "~/Views/Shared/_Layout_MemberProfile.cshtml";
}

<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
    <header class="questionnaire-header">
        <h2>ANSWER THE FOLLOWING QUESTIONS</h2>
    </header>

    <ol class="progress-indicator">
        <li class="is-complete" data-step="1">
            <span>Personal</span>
        </li>
        <li class="is-complete" data-step="2">
            <span>Family</span>
        </li>
        <li class="is-complete" data-step="3">
            <span>Education</span>
        </li>
        <li class="is-complete" data-step="4">
            <span>Professional</span>
        </li>
        <li class="is-complete" data-step="5">
            <span>Training</span>
        </li>
        <li class="is-current" data-step="6">
            <span>Gov. Benefits</span>
        </li>
        <li class="" data-step="7">
            <span>Finish</span>
        </li>
    </ol>

    @using (Html.BeginForm("MemberGovernmentPrograms", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div>
            <div class="main-questions row align-center">
                <label for="Member_UtilizingGovernmentPrograms">Are you currently utilizing any Government Programs?</label>
                <div>
                    @Html.RadioButtonFor(m => m.IsUtilizingGovernmentPrograms, true)
                    <label for="Member_UtilizingGovernmentPrograms">Yes</label>
                    @Html.RadioButtonFor(m => m.IsUtilizingGovernmentPrograms, false)
                    <label for="Member_UtilizingGovernmentProgramsMember_UtilizingGovernmentPrograms">No</label>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Member.MemberId)
            <div id="GovernmentProgram" class="@(Model.IsUtilizingGovernmentPrograms ? "" : "hide")">
                <div class="row app-dashboard-form-container-space-around">
                    @Html.ValidationMessageFor(model => Model.Member.GovernmentPrograms, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => Model.Member.GovernmentPrograms, "", htmlAttributes: new {  })
                    @Html.DropDownListFor(model => Model.Member.GovernmentPrograms, Model.GovernmentProgramList.Select(x => new SelectListItem { Value = x.Key.ToString(), Text = x.Value }), "Please select the programs you are currently utilizing", new { @multiple = "", @class = "ui fluid dropdown" })
                </div>
            </div>
            <hr />
            <div class="row align-center">
                <input type="submit" value="Submit" class="submit-create-profile" />
            </div>
        </div>
        }
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/profile_member")
    @Scripts.Render("~/bundles/semantic")
    @Styles.Render("~/Content/semantic")

    <script>
        window.bindRadioContent($('input[name=IsUtilizingGovernmentPrograms]'), $('#GovernmentProgram'), "", "");
        @foreach(var a in Model.Member.GovernmentPrograms)
        {
            @:$('#Member_GovernmentPrograms').dropdown('set selected', @(a));
        }
    </script>
}
