@using SolveChicago.Entities
@using SolveChicago.Common
@model SolveChicago.Web.Models.Profile.MemberProfileNonprofitViewModel

@{
    ViewBag.Title = "Nonprofits";
    Layout = "~/Views/Shared/_Layout_MemberProfile.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/tokenfield")
}

<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
    <header class="questionnaire-header">
        <h2>ANSWER THE FOLLOWING QUESTIONS</h2>
    </header>

    <ol class="progress-indicator">
        <li class="is-complete" data-step="1">
            <span>Personal</span>
        </li>
        <li class="is-complete" data-step="2">
            <span>Family in Household</span>
        </li>
        <li class="is-complete" data-step="3">
            <span>Education</span>
        </li>
        <li class="is-complete" data-step="4">
            <span>Professional</span>
        </li>
        <li class="is-current" data-step="5">
            <span>Training</span>
        </li>
        <li class="" data-step="6">
            <span>Gov. Benefits</span>
        </li>
        <li class="" data-step="7">
            <span>Finish</span>
        </li>
    </ol>
    
    @using (Html.BeginForm("MemberNonprofits", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Member.MemberId)
        <div>
            <div class="main-questions row align-center">
                <label for="Member_InterestedInWorkforceSkill">Are you interested in acquiring a new workforce skill</label>
                <div>
                    @Html.RadioButtonFor(m => m.Member.InterestedInWorkforceSkill, true)
                    <label for="Member_InterestedInWorkforceSkill">Yes</label>
                    @Html.RadioButtonFor(m => m.Member.InterestedInWorkforceSkill, false)
                    <label for="Member_InterestedInWorkforceSkill">No</label>
                </div>
            </div>
            <div id="npo-wrapper" class="@(Model.Member.InterestedInWorkforceSkill == true ? "" : "hide")">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => Model.Member.SkillsDesiredIds, "", new { @class = "text-danger" })
                @Html.LabelFor(model => Model.Member.SkillsDesiredIds, "", htmlAttributes: new { })
                @Html.DropDownListFor(model => Model.Member.SkillsDesiredIds, Model.SkillsList.Select(x => new SelectListItem { Value = x.Key.ToString(), Text = x.Value }), "Please select the skills you would like to obtain", new { @multiple = "", @class = "ui fluid dropdown" })
            </div>
        </div>
        <div class="row align-center">
            <input type="submit" value="Submit" class="submit-create-profile" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/profile_member")
    @Scripts.Render("~/bundles/semantic")
    @Styles.Render("~/Content/semanticui")

    <script>
        @if(Model.Member.SkillsDesired != null)
        {
            foreach(var a in Model.Member.SkillsDesired)
            {
                @:$('#Member_SkillsDesired').dropdown('set selected', @(a));
            }
        }
        window.bindRadioContent($('input[name=Member\\.InterestedInWorkforceSkill]'), $('#npo-wrapper'), "", "");
    </script>
}
