@model SolveChicago.Common.Models.Profile.ReferrerProfile

@{
    ViewBag.Title = "Profile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <header>
        <h4><strong>PROPERTY MANAGER:</strong> Profile</h4>
    </header>

    <div class="row app-dashboard-form-container">
        <div class="create-profile-form-holder">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(m => m.Email)

            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Name, "Company Name", htmlAttributes: new { })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { } })

            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Phone, "Company Phone", htmlAttributes: new { })
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "number-entry" } })
            <hr class="line-divider">

            <input class="submit-create-profile" type="submit" value="Submit">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
