@model SolveChicago.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Nonprofit Register";
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
}
<div class="form-registration-bg">
    <div class="form-registration">
        <figure class="form-registration-img">
            <a href="/"><img src="/img/solve-logo@2x.png" alt="Solve Smart Cities Logo" /></a>
        </figure>
        @using (Html.BeginForm("Nonprofit", "Register", FormMethod.Post, new { @class = "form-registration-group", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-registration-input form-registration-input--has-email-icon", type = "email", @placeholder = "Email" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-registration-input form-registration-input--has-password-icon", type = "password", @placeholder = "Password" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-registration-input form-registration-input--has-password-icon", type = "password", @placeholder = "Confirm Password" })
            <input class="form-registration-submit-button" type="submit" value="Register">
            <p class="form-registration-member-forgot-password">
                Already registered? 
                @Html.ActionLink("LOG IN", "Login", "Account")
            </p>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
