@model IEnumerable<SolveChicago.Entities.CaseNote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutcomeWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseManager.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outcome.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutcomeWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseManager.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outcome.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
