@model SolveChicago.Web.Models.Nonprofit.GraduateMemberViewModel

@{
    ViewBag.Title = "Graduate Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("NonprofitReferral", "Nonprofits", FormMethod.Post))
{
    @Html.HiddenFor(m => m.NonprofitId)
    @Html.HiddenFor(m => m.MemberId)
    @Html.AntiForgeryToken()

    <div class="row app-dashboard-form-container">
        <div class="create-profile-form-holder">
            <h4><strong>MEMBER: </strong>Referral for Training</h4>
            <hr />

            <p><strong>Which skills were acquired during training?</strong></p>
            @if (Model.Skills.Length > 0)
            {
                for (int i = 0; i < Model.Skills.Length; i++)
                {
                    <p>
                        @Html.HiddenFor(x => Model.Skills[i].Id)
                        @Html.CheckBoxFor(x => Model.Skills[i].IsComplete)
                        <span>@Model.Skills[i].Name</span>
                    </p>
                }
            }

            <p><strong>Which service provider are you referring them to?</strong></p>
            @Html.ValidationMessageFor(x => Model.ReferredNonprofitId, "", new { @class = "text-danger" })
            @Html.DropDownListFor(x => Model.ReferredNonprofitId, Model.NonprofitsList.Select(x => new SelectListItem { Value = x.Key.ToString(), Text = x.Value, Selected = x.Key == Model.ReferredNonprofitId }))
            <hr class="line-divider">
            <input class="submit-create-profile" type="submit" value="Submit">
        </div>
    </div>
}