@using SolveChicago.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
}

<div class="form-registration-bg">
    <div class="form-registration">
        <figure class="form-registration-img">
            <a href="/"><img src="/img/solve-logo@2x.png" alt="Solve Smart Cities Logo" /></a>
        </figure>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-registration-group", role = "form" }))
        {
            @Html.AntiForgeryToken()
            
                @Html.TextBoxFor(m => m.Email, new { @class = "form-registration-input form-registration-input--has-email-icon", type = "email", @placeholder = "Email" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-registration-input form-registration-input--has-password-icon", type = "password", @placeholder = "Password" })

                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, "Remember Me", new { @class = "login-helper" })
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <input class="form-registration-submit-button" type="submit" value="LOG IN">
            <p class="form-registration-member-forgot-password">
                Forgot your
                @Html.ActionLink("PASSWORD?", "ForgotPassword")
            </p>
        }

    </div>
    <a class="back-to-website" href="/">Back to Website</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



