@model SolveChicago.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout_NoHeader.cshtml";
}

<div class="form-registration-bg">
    <div class="form-registration">
        <figure class="form-registration-img">
            <a href="/"><img src="/img/solve-logo@2x.png" alt="Solve Smart Cities" /></a>
        </figure>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-registration-group", role = "form" }))
        {
            @Html.HiddenFor(m => m.Code)
            @Html.AntiForgeryToken()
            <h4 class="login-helper">Reset your password.</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-registration-input form-registration-input--has-email-icon", type = "email", @placeholder = "Email" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-registration-input form-registration-input--has-password-icon", type = "password", @placeholder = "New Password" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-registration-input form-registration-input--has-password-icon", type = "password", @placeholder = "Confirm New Password" })
            <input type="submit" class="form-registration-submit-button" value="Reset" />
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
