@using SolveChicago.Common;
<ul class="menu vertical">
    <li class="menu-link @(Request.Url.AbsolutePath == "/CaseManagers" ? "active" : "")">
        <a href="/CaseManagers">
            <img class="menu-icon" src="../img/side-nav-members-icon.svg" alt="Case Managers">
            <span class="app-dashboard-sidebar-text">Clients</span>
        </a>
    </li>
    <li class="menu-link @(Request.Url.AbsolutePath == "/Prospects" ? "active" : "")">
        <a href="/Prospects">
            <img class="menu-icon" src="../img/side-nav-prospect-icon.svg" alt="Prospects">
            <span class="app-dashboard-sidebar-text">Prospects</span>
        </a>
    </li>
    @if (Settings.Website.ShowStagingFeatures)
    {
        <li class="menu-link @(Request.Url.AbsolutePath == "/Impact" ? "active" : "")">
            <a href="/Impact">
                <img class="menu-icon" src="../img/Impact-icon.png" alt="Impact">
                <span class="app-dashboard-sidebar-text">Impact</span>
            </a>
        </li>
    }
</ul>
<ul class="sub-menu">
    <li>
        <span class="case-manager-profile-picture">
            <img class="case-manager-thumb" src="@(ViewBag.CaseManagerProfilePicture)" alt="Profile Picture">
        </span>

        <span class="case-manager-name">
            @(ViewBag.CaseManagerName)
        </span>

        <span class="case-manager-company">
            @(ViewBag.NonprofitName)
        </span>
    </li>
    <li class="menu-link @(Request.Url.AbsolutePath == "/Account/Settings" ? "active" : "")">
        <a href="/Account/Settings">
            <img class="sub-menu-icon" src="../img/submenu-icon-settings.svg" alt="Settings">
            <span class="app-dashboard-sidebar-text">Settings</span>
        </a>
    </li>
    <li>
        @Html.Partial("_LoginPartial")
    </li>
</ul>