<ul class="menu vertical">
    <li class="menu-link @(Request.Url.AbsolutePath == "/Referrers" ? "active" : "")">
        <a href="/Referrers">
            <img class="menu-icon" src="../img/side-nav-members-icon.svg">
            <span class="app-dashboard-sidebar-text">Members</span>
        </a>
    </li>
    <li class="menu-link @(Request.Url.AbsolutePath == "/Referrers/AddMember" ? "active" : "")">
        <a href="/Referrers/AddMember">
            <img class="menu-icon" src="../img/side-nav-add-member-icon.svg">
            <span class="app-dashboard-sidebar-text">Add Member</span>
        </a>
    </li>
</ul>

<ul class="sub-menu">
    <li>
        <span class="case-manager-company">
            @(ViewBag.ReferrerName)
        </span>
    </li>
    <li class="menu-link @(Request.Url.AbsolutePath == "/Account/Settings" ? "active" : "")">
        <a href="/Account/Settings">
            <img class="sub-menu-icon" src="../img/submenu-icon-settings.svg">
            <span class="app-dashboard-sidebar-text">Settings</span>
        </a>
    </li>
    <li>
        @Html.Partial("_LoginPartial")
    </li>
</ul>